<div class="container">
  <div class="user-id" value="<%=@user.id%>" style="display: none;"></div>

  <h1><%=@user.username%>'s Cookbook Control Panel</h1>

  <form>
    <input type="text" id="new-ingredient">
    <button class="add-ingredient">Add Ingredient</button>
  </form>
  
  <div class="ingredient-container">
    <ul class="ingredient-list">
    </ul>
  </div>

</div>

<div class="ingredient-template" style="display: none;">
  <li></li>
</div>
