<div class="container">
  <h1>My Cookbook Control Panel</h1>

  <form>
    <input type="text" id="new-ingredient">
    <button class="add-ingredient">Add Ingredient</button>
  </form>
  
  <div class="ingredient-container">
    <ul class="ingredient-list">
    </ul>
  </div>

</div>

<div class="ingredient-template" style="display: none;">
  <li></li>
</div>
